/* You can add global styles to this file, and also import other style files */
@mixin max-height {
  height: calc(100% - 126px);
}

.fixed-full-width {
  background: white;
  position: absolute;
  width: 100%;
  left: 0;

  &.container-input-message {
    bottom: 0;
    padding: 0 20px;
    -webkit-box-shadow: -1px -2px 7px -1px rgba(107,107,107,0.26);
    -moz-box-shadow: -1px -2px 7px -1px rgba(107,107,107,0.26);
    box-shadow: -1px -2px 7px -1px rgba(107,107,107,0.26);

    input {
      margin-top: 24px;
    }
  }

  &.title-header {
    top: 0;
    right: 0;
    height: 86px;
    z-index: 1;
    -webkit-box-shadow: -1px 2px 7px -1px rgba(107,107,107,0.26);
    -moz-box-shadow: -1px 2px 7px -1px rgba(107,107,107,0.26);
    box-shadow: -1px 2px 7px -1px rgba(107,107,107,0.26);
  }

  &.top, &.messages {
    top: 86px;
  }

  &.messages {
    bottom: 86px;
    right: 0;
    overflow-y: scroll;
    width: 100%;
    height: calc(100% - 172px);
    -webkit-box-shadow: -1px -2px 7px -1px rgba(107,107,107,0.26);
    -moz-box-shadow: -1px -2px 7px -1px rgba(107,107,107,0.26);
    box-shadow: -1px -2px 7px -1px rgba(107,107,107,0.26);
  }

  &.login {
    @include max-height;
  }

}
